@font-face {
  font-family: LeroyMerlinBold;
  src: url('./assets/fonts/LeroyMerlinSansBold.eot');
  src: url('./assets/fonts/LeroyMerlinSansBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/LeroyMerlinSansBold.woff') format('woff'),
    url('./assets/fonts/LeroyMerlinSansBold.ttf') format('truetype'),
    url('./assets/fonts/LeroyMerlinSansBold.svg#3dumbregular') format('svg');
}

@font-face {
  font-family: LeroyMerlinRegular;
  src: url('./assets/fonts/LeroyMerlinSansRegular.eot');
  src: url('./assets/fonts/LeroyMerlinSansRegular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/LeroyMerlinSansRegular.woff') format('woff'),
    url('./assets/fonts/LeroyMerlinSansRegular.ttf') format('truetype'),
    url('./assets/fonts/LeroyMerlinSansRegular.svg#3dumbregular') format('svg');
}

@font-face {
  font-family: LeroyMerlinLight;
  src: url('./assets/fonts/LeroyMerlinSansLight.eot');
  src: url('./assets/fonts/LeroyMerlinSansLight.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/LeroyMerlinSansLight.woff') format('woff'),
    url('./assets/fonts/LeroyMerlinSansLight.ttf') format('truetype'),
    url('./assets/fonts/LeroyMerlinSansLight.svg#3dumbregular') format('svg');
}
*{
  outline: none;
}
.App {
  font-family: LeroyMerlinRegular;
}

.App-logo {
  height: 32px;
  margin: 4px;
}

.App-header {
  border-bottom: 3px solid #66cc33;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  animation: border 2s infinite;
}
/* .App-header::after {
  animation: border 1s 0.5s infinite;
} */

/* @keyframes border {
  0% {
    width: 0;
    height: 100%;
  }
  10% {
    width: 0;
    height: 100%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  } */

/* @keyframes borderColor {
  0% {
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;
  }
  50% {
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;
  }
  51% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  } */

.App-container {
  margin: 16px;
}

.step-cards-container-button{
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: auto;
  align-items: center;
}

.step-cards-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.step-card {
  flex: 0 0 auto;
  width: 315px;
  cursor: pointer;
  margin-right: 16px;
}

.step-card:hover img {
  opacity: .8;
}

.interactivePhoto:focus img{
 filter: blur(2px); 
 opacity: .4;
 -webkit-backdrop-filter: blur(2px);
 backdrop-filter: blur(2px);
 box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
 background:  rgba(0, 0, 0, 0.54);
position: relative;
 z-index: 10;
}
/* .interactivePhoto:focus img::after{
  content: "√";
  color: #66cc33;
  font-size: 20px;
  margin: auto;
  border-radius: 100%;
  width: 20px;
  font-weight: 700;
  border: 1px solid white;
} */


.step-card img {
  border: 1px solid white;
  border-radius: 8px;
  width: 315px;
  height: 322px;
}

.step-card .title {
  font-family: LeroyMerlinBold;
  text-transform: uppercase;
  margin-top: 16px;
}

.step-card .description {
  font-family: LeroyMerlinLight;
  margin-top: 8px;
}
.header-help{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-help i{
  font-size: 25px;
  font-weight: light;
  width: 50px;
  height: auto;
  display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.header-help a{

  display: flex;
    flex-direction: column;
    align-items: center;
}
.header-help .paragraph{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
/* MEDIA QUERY BREAKPONT EXAMPLE */

/* tablet portrait */
@media (min-width: 601px) {
  .App-logo {
    height: 47px;
    margin: 8px;
  }
  
}

/* tablet landscape */
@media (min-width: 900px) {
  .step-cards-container {
    flex-direction: row;
    justify-content: center;
}
.bottone{
  text-align: center;
}
}
@media (min-width: 600px) {
  .step-cards-container {
    flex-direction: row;
    justify-content: center;
}
.bottone{
  text-align: center;
}
}

/* desktop */
@media (min-width: 1200px) {
  .App-logo {
    height: 47px;
    margin: 8px;
  }
  .App-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.chip-container {
  justify-content: center;
}
.bottone{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.step-cards-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  flex-direction: row;
  justify-content: center;
}
}



@media (max-width: 600px) {
  .App-logo {
    height: 47px;
    margin: 8px;
  }
  .App-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.chip-container {
  justify-content: center;
}
.bottone{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
}
@media (max-width: 800px) {
  * {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    }
}
